@charset "utf-8";
.messageBox{
	border: 2px solid;
	border-radius: 0.8em;
	background: radial-gradient(#FFF 0%, #FF4 75%) repeat scroll 0% 0%;
	background-color: #FF0;
	padding: 5px;
	margin-bottom: 5px;
	width: 100%;
}

.warningBox{
	background: radial-gradient(#FFF 0%, #F44 75%) repeat scroll 0% 0%;
	background-color: #F44;
}


