@charset "utf-8";

input[type="radio"] {
	display:none;
}
input[type="radio"] + label {
	display:inline-block;
	padding: 5px;
	vertical-align:middle;
	background-color: beige;
	cursor:pointer;
	
	transition: background-color 0.3s ease;
}
input[type="radio"]:checked + label {
	background-color: lightgreen;
	font-style: 	italic;
}
